<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link href="http://st.maomaokan.com/css/main.css?v=20120712" type="text/css" rel="stylesheet" />
<link href="http://st.maomaokan.com/js/selectbox/jquery.selectBox.css?v=20120708" type="text/css" rel="stylesheet" />
<!--[if IE 6]><link rel="stylesheet" href="http://st.maomaokan.com/css/ie6.css?v=20120708" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="http://st.maomaokan.com/css/ie7.css?v=20120708" /><![endif]-->
<!--[if IE 8]><link rel="stylesheet" href="http://st.maomaokan.com/css/ie8.css?v=20120708" /><![endif]-->
<script>var current_user_id = 0;</script><title> 乐乐妈购物 - 注册</title>
</head>

<body id="wfx">
<div id="header">
	<div class="fixContainer">
		<a id="logo" href="/"></a>
		<ul class="login_info">
			<li><a href="/login">登录</a></li>
			<li><a href="/regist">免费注册</a></li>
		</ul>
	</div>
</div>
<div class="wfx">
	<div class="wt">
		<h2 class="yahei">注册乐乐妈购物网</h2>
		<div id="register">
			<h3>嗨！你可以选择下方合作网站帐号直接登录，一分钟完成注册！</h3>
			<ul class="social_buttons">
				<li><a class="weibo" href="/connect/weibo">用微博帐号登录</a></li>
				<li style="margin-right:0;"><a class="qzone" href="/connect/qzone">用QQ帐号登录</a></li>
			</ul>
			<div class="split_bar">
				<img class="or" src="http://st.maomaokan.com/img/or.png" />
			</div>
			<form id="frmReg" class="Form StaticForm AuthForm" method="post" action="/regist" autocomplete="off">
				<ul>
					<li><label>电子邮箱：</label><input type="text" name="email" id="email" value="" /><em></em></li>
					<li><label>昵称：</label><input type="text" name="nickname" value="" /><em></em></li>
					<li><label>密码：</label><input type="password" name="password" id="password" value="" /><em></em></li>
					<li><label>确认密码：</label><input type="password" name="passwordconfirm" value="" /><em></em></li>
					<li><input type="submit" value="提交" />
				</ul>
				<div class="non_inputs">
					<a class="btn btn18 wbtn" href="#"><strong>完成注册</strong><span></span></a>					
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>
